
                body { margin: 0 }
                .f { width: 103px; display: flex }
                .s { flex: 1; aspect-ratio: 1 / 1; border-width: 1px;
                     border-style: solid }
            