
                .row  { display: flex; align-items: stretch; height: 300px; }
                .col  { display: flex; flex-direction: column; flex: 0 0 200px; }
                .top  { height: 20px; }
                .grow { flex: 1 1 auto; }
                .bot  { height: 24px; }