.a { width: 200px; height: 60px; margin-bottom: 20px; background-color: #ef4444; }
.b { width: 200px; height: 60px; margin-top: 30px; margin-bottom: 25px; background-color: #3b82f6; }
.c { width: 200px; height: 60px; margin-top: 15px; background-color: #10b981; }
