p { font-size: 20px; padding-top: 32px; padding-left: 32px; }
.atom { display: inline-block; width: 60px; height: 24px; background-color: #f59e0b; }
.atom2 { display: inline-block; padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 8px; background-color: #4f46e5; color: white; }
